<div *ngIf="profilePage">
    <div class="panel panel-default">
        <div class = "panel-heading">
            {{profilePage.login}}
        </div>
        <div class= "panel-body">
                <div>
                    <img src = "{{profilePage.avatar_url}}" class="img-circle img-responsive" alt="Profile Picture">
                </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class = "panel-heading">
            <h3 class= "panel-title">Repositories</h3>
        </div>
        <div class = "panel-body" *ngFor="let repo of repos">
            <p>
                <a href="{{repo.html_url}}">{{repo.name}}</a>
            </p>

        </div>
    </div>

</div>